@import '../variables.scss';

.ant-spin-dot {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 20px;
}

.ant-spin-dot-item {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: $primary;
  transform: scale(0.7);
  &:first-child {
    top: 0;
    left: 0;
  }
  &:nth-child(2) {
    top: 0;
    right: 0;
    animation-delay: 0.4s;
  }
  &:nth-child(3) {
    bottom: 0;
    right: 0;
    animation-delay: 0.8s;
  }
  &:nth-child(4) {
    bottom: 0;
    left: 0;
    animation-delay: 1.2s;
  }

}
