.group-list {
  .card-header {
    .flex-row {
      align-items: center;
    }
  }
  .card-title {
    margin-bottom: 0;
  }
  .add-group-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .add-group-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .card-body {

  }
}

