@keyframes spinning {
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spinning {
  100% { -webkit-transform: rotate(360deg); }
} 
@-moz-keyframes spinning {
  100% { -moz-transform: rotate(360deg); }
}

.anticon {
  display: inline-block;
  vertical-align: -.125em;
}

.anticon svg {
  animation: spinning 1s linear infinite;
}
