#root > .ant-row {
  margin: 12px 0;
}
li {
  margin: 10px;
}

.gallary {
  .ant-card-body > .ant-row {
    margin: 10px 0;
    align-items: center;
    & > label {
      display: inline-block;
      width: 100px;
    }
    & > button {
      margin-right: 8px;
    }
  }
}

.result {
  justify-content: center;
}

.gallary {
  width: 100%;
}